/* 
    General Styles
*/
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }

  .page-container {
    
    height: 60vh;
  }

  .no-list{
    list-style: none;
  }

  .h100{
    height: 90vh;
  }

  .hpic{
    width: 9vw;
  }